%nav.navbar.navbar-default{role: "navigation"}
  .container
    .pull-left
      %a.navbar-brand.text-uppercase{href: "#{root_path}"}         
        %i.fa.fa-flag
        Carrom League

    .pull-right
      .menu{:style =>"margin-top: 7px;"}
        - if !(params[:controller] == "home" && params[:action] == "index")
          = link_to "Fixtures", match_list_path, :class => "btn btn-primary"    
          = link_to "Results", results_path, :class => "btn btn-primary"
          = link_to "Team list", team_list_path, :class => "btn btn-primary"
          = link_to "Rules", rules_path, :class => "btn btn-primary"

