.well.text-uppercase
  %b Points Table
  %br 
  %br
  %table.table.table-hover.text-center
    %tr.info.strong
      %td Teams
      %td Matches
      %td Won
      %td Lost
      %td Total board points
      %td Win Points
      %td Queen Points
      %td Total Match points

    - @teams.each do |team|                
      %tr             
        %td= team.name
        %td= hypen(team.matches.played.count)
        %td= hypen(team.won_matches.count)
        %td= hypen(team.lost_matches.count)
        %td= hypen(team.board_points)
        %td= hypen(team.win_points)
        %td= hypen(team.queen_points)
        %td.warning.strong= hypen(team.match_points)
