.well.white-bg
  %b.text-uppercase  Results by Players
  %br
  %br

  %table.table.table-hover.table-stripde#myTable.tablesorter.tablesorter-blue
    %thead
      %tr.info.strong
        %th.text-left Name
        %th.text-left Team name
        %th.text-left Playing count
        %th.text-left Queen count
        %th.text-left Own Coin count
        %th.text-left Opponent Coin count
        %th.text-left Dues/Penalties
        %th.text-left Player score
    %tbody
    - @players.each do |player|
      %tr.warning
        %td= player.name.capitalize
        %td.text-left= player.team.name
        %td.text-center= player.matches_count
        %td.text-center= player.queen_count
        %td.text-center= player.coin_count
        %td.text-center= player.opp_coin_count
        %td.text-center= player.due_count
        %td.text-center= player.player_score
