.well.white-bg
  %b.text-uppercase  Results by Players
  %br
  %br
  %i Note: To sort multiple columns simultaneously, hold down the Shift key and click a second, third or even fourth column in the header!
  .btn.btn-primary.btn-xs#reset_sort.pull-right Reset sort
  %table.table.table-hover.table-stripde#sort_table.tablesorter.tablesorter-blue
    %thead
      %tr.info.strong
        %th.text-left Name
        %th.text-left Team name
        %th.text-left Playing count
        %th.text-left Queen count
        %th.text-left Own Coin count
        %th.text-left Opponent Coin count
        %th.text-left Dues/Penalties
        %th.text-left Player score
    %tbody
    - @players.each do |player|
      %tr.warning
        %td= player.name.capitalize
        %td= player.team.name
        %td.text-center= player.matches_count
        %td.text-center= player.queen_count
        %td.text-center= player.coin_count
        %td.text-center= player.opp_coin_count
        %td.text-center= player.due_count
        %td.text-center= player.player_score
