.well.text-uppercase 
  %b Results by match
%table.table.table-hover.text-center
  %tr.info.strong
    %td Match date
    %td Match no
    %td Teams 1
    %td Teams 2
    %td Winning team
    %td Queen holder
  - @matches.each.with_index do |match, index|                
    - if match.winning_team_id.present?
      %tr.warning
        %td= Date.strptime(match.match_date, '%m/%d/%Y').strftime('%A %d-%m-%Y')
        %td
          Match
          = match.match_no
        %td
          = match.player_1.try(:name)
          and
          = match.player_2.try(:name)
          \-
          = match.team1.name              
        %td
          = match.player_3.try(:name)
          and
          = match.player_4.try(:name)
          \-
          = match.team2.name
        %td.strong= match.winning_team.try(:name)
        %td.strong= match.queen_holder.try(:name)
