.container
  .row
    .col-md-12
      %table.table.table-hover.text-center
        - @matches.each_with_index do |m, index|          
          - if !m[0].empty?
            %tr.info
              %td(colspan="6")
                %b= m[0]

          %tr.warning
            %td= m[1]
            %td.text-right= m[2]  
            %td.text-left= m[4]
            %td.text-left Vs 
            %td.text-right= m[3]
            %td.text-left= m[5]
        
