.container
  .row
    .col-md-12
      %table.table.table-hover.text-center
        - @matches.each.with_index do |match, index|          
          - if [0,3,6,9,12,15].include?(index)
            %tr.info
              %td(colspan="6")
                %b= Date.strptime(match.match_date, '%m/%d/%Y').strftime('%A %d-%m-%Y')
          %tr.warning
            %td
              Match
              = match.match_no
            %td.text-right= match.team1.name
            %td.text-left
              = match.player_1.try(:name)
              and
              = match.player_2.try(:name)
            %td.text-left Vs 
            %td.text-right= match.team2.name
            %td.text-left
              = match.player_3.try(:name)
              and
              = match.player_4.try(:name)
