.container
  .row
    - @team.each do |team|
      .col-md-4
        %table.table.table-hover.table-striped
          %tr.info
            %th.text-center{:colspan =>"3"}
              = team.name.upcase
              (Captain)
          - if team.players.present?
            - index = 0
            - team.players.each do |player|
              - if player.score == 300 
                - index = index + 1
                %tr.warning
                  %td= index
                  %td= player.name.capitalize
                  %td.text-right
                    %i.fa.fa-inr
                    = player.score                    
          %tr.info
            %th.text-center{:colspan =>"3"}
              = team.name.upcase
              (Players)
          - if team.players.present?
            - index = 0
            - team.players.each do |player|
              - if player.score != 0
                - index = index + 1
                %tr.warning
                  %td= index
                  %td= player.name.capitalize
                  %td.text-right
                    %i.fa.fa-inr
                    = player.score
          - else
            %tr.danger
              %td.text-center
                No Players to display
          %tr.info
            %th{:colspan =>"3"}              
              .pull-left
                Bucket Amount
              .pull-right 
                %i.fa.fa-inr
                = team.total_amount
    

/ Modal
#select.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#myModalLabel.modal-title Player details
      .modal-body.text-center
        .player-content
          = link_to "Show Player", show_player_path, {'class' => "btn btn-primary show_player", 'data-remote' => true, 'id' => "show_player"}
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close


