= form_for @player do |f|
  - if @player.errors.any?
    #error_explanation
      %h2= "#{pluralize(@player.errors.count, "error")} prohibited this player from being saved:"
      %ul
        - @player.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name
    = f.text_field :name
  .form-group
    = f.label :score
    = f.text_field :score
  .form-group
    = f.label :team_id
    = f.text_field :team_id
  .form-group
    = f.label :image
    = f.text_field :image
  .form-group
    = f.submit 'Save'
