.well.text-uppercase Editing match

%table.table.table-striped
  %thead
    %tr
      %th Match no
      %th Match date
      %th Team
      %th Team1 Players
      %th Team2 Players
      %th Winning team
      %th Queen holder

  %tbody
    %tr
      %td= @match.match_no
      %td= @match.match_date
      %td
        = @match.team1.name
        Vs
        = @match.team2.name
      %td
        = @match.player_1.try(:name)
        and
        = @match.player_2.try(:name)
      %td
        = @match.player_3.try(:name)
        and
        = @match.player_4.try(:name)
      %td= @match.winning_team.try(:name)
      %td= @match.queen_player.try(:name)

= form_for @match do |f|
  - if @match.errors.any?
    #error_explanation
      %h2= "#{pluralize(@match.errors.count, "error")} prohibited this match from being saved:"
      %ul
        - @match.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-md-2
      = f.label :winning_team
      = f.select(:winning_team,  @match.teams.collect {|p| [ p.name, p.id ] }, {}, {:class => "form-control team1"})
    .col-md-2
      = f.label :queen_player      
      = f.select(:queen_player,  @match.match_players.collect {|p| [ p.player.name, p.player.id ] }, {}, {:class => "form-control"})
    .col-md-2
      = f.label :board_points      
      = f.select(:board_points,  [*1..12].map {|p| p }, {}, {:class => "form-control"})
    .col-md-2
      = f.label :comments
      = f.text_field(:comments, {:class => "form-control"})
    .col-md-2
      %br     
      = f.submit 'Update'
      %br
= link_to 'Back', matches_path
