.well.text-uppercase Listing matches

%table.table.table-striped
  %thead
    %tr
      %th Match no
      %th Match date
      %th Team
      %th Team1 Players
      %th Team2 Players
      %th Team won
      %th Queen holder
      %th Board points
      %th(colspan=2) Update score

  %tbody
    - @matches.each do |match|
      %tr
        %td= match.match_no
        %td= match.match_date
        %td
          = match.team1.name 
          Vs
          = match.team2.name
        %td
          = match.player_1.try(:name)
          and
          = match.player_2.try(:name)
        %td
          = match.player_3.try(:name)
          and
          = match.player_4.try(:name)
        %td= match.winning_team.try(:name)
        %td= match.queen_player.try(:name)
        %td= match.board_points
        %td= link_to 'Player', match_player_edit_path(match)
        %td= link_to 'Match', edit_match_path(match)
        %td= link_to '', match, :class => "fa fa-times", :method => :delete, :data => { :confirm => 'Are you sure?' }
%br

= link_to 'New Match', new_match_path
