.well.text-uppercase Update Player Score

%table.table.white-bg  
  %thead
    %tr.info
      %th Player name 
      %th Coin count
      %th Opp coin count
      %th.text-center Dues count
      %th.text-center Queen pocket
  %tbody
    = form_for :match, :url => match_player_update_path do |f|
      - @match.match_players.each do |match_player|
        %tr
          %td= match_player.player.try(:name)
          %td= match_player.player.try(:coin_count)
          %td= match_player.player.try(:opp_coin_count)          
          %td= match_player.player.try(:due_count)
          %td= match_player.player.try(:queen_pocket)

%table.table.white-bg  
  %thead
    %tr
      %th(colspan="5")
        Match 
        = @match.match_no
        \-
        = @match.team1.name
        Vs
        = @match.team2.name
        (
        = @match.match_date
        )
    %tr.info
      %th Player name 
      %th Coin count
      %th Opp coin count
      %th.text-center Dues count
      %th.text-center Queen pocket
  %tbody
    = form_for :match, :url => match_player_update_path do |f|
      - @match.match_players.each_with_index do |match_player, i|
        %tr
          %td= match_player.player.try(:name)
          %td
            = select_tag("player#{i+1}[coin_count]",  options_for_select([*0..12].map {|p| p }), {:class => "form-control"})
          %td
            = select_tag("player#{i+1}[opp_coin_count]",  options_for_select([*0..12].map {|p| p }), {:class => "form-control"})
          %td
            = select_tag("player#{i+1}[dues_count]",  options_for_select([*0..12].map {|p| p }), {:class => "form-control"})
            = hidden_field("player#{i+1}", "id", :value => match_player.player.id)
          %td.text-center= radio_button_tag "player#{i+1}[queen_pocket]", 'yes'

      %tr
        %td
          = f.submit 'Update'

= link_to 'Back', matches_path
