!!!
%html
  %head
    %title Carrom League
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application" 
    = favicon_link_tag "favicon.png"
    = csrf_meta_tags
  %body
    = render partial: "shared/header"
    .page_content
      .container= yield    
    = render partial: "shared/footer"

